@using Geekin.ViewModels
@model MasterOneVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = @Model.BlogPosts[0].Title;
}

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.url.js"></script>
<div id="fb-root"></div>

@* Facebook comments *@
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    //check url with a alert
    //$(document).ready(function () {
    //    var myTitle = location.search.split('myTitle=')[1];
    //    alert(myTitle);
    //    return myTitle;
    //});
    $('.shareDiv a').on('click', function () {
        var type = $(this).prop('type');
        sharePage(type);
    });

    function sharePage(type) {
        var pageUrl = encodeURIComponent("https://jsfiddle.net/anthonyo/b5Ljko3v/");
        var shareUrl;
        switch (type) {
            case 'fb':
                shareUrl = 'https://www.facebook.com/sharer/sharer.php?u=' + pageUrl;
                break;
            case 'tweet':
                shareUrl = 'https://twitter.com/intent/tweet?text=CheckOutMyPage&url=' + pageUrl;
                break;
            case 'gplus':
                shareUrl = 'https://plus.google.com/share?url=' + pageUrl;
                break;
            default:
                return false;
        }
        window.open(shareUrl, ' ', ' width=600, height=500');
    }
</script>

@* Facebook *@
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
@* Twitter *@
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
@* Google+ *@
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div id="container">
    <div class="myContent">
        @*<center><h2 style="font-weight: 700; color: #555555; text-decoration: underline">Admin posts</h2></center>*@
        @* Breadcrumb *@
        <ol class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Category?myCategory=@Model.BlogPosts[0].Category">@Model.BlogPosts[0].Category</a></li>
            <li class="active">@Model.BlogPosts[0].Title</li>
        </ol>

        @* Skriver ut alla posts *@
        @foreach (var item in Model.BlogPosts)
        {
            <h3><b>@item.Title</b></h3>
            @Html.Raw(item.Text)
            @if (@item.Link != null)
                { <br />
                <br />
                <div class="videoWrapper">
                    <iframe width="560" height="314" src="@item.Link" target="_top" allowfullscreen="allowfullscreen" frameBorder="0"></iframe>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div id="button-panel">
                    <form asp-controller="Home" asp-action="DeleteBlogPost">
                        <input type="hidden" name="postId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger" style="display: inline;"><span class="fa fa-trash"></span></button>
                    </form>
                </div>
                <div id="button-panel">
                    <form asp-controller="Home" asp-action="EditBlogPost">
                        <input type="hidden" name="postId" value="@item.Id" />
                        <button type="submit" class="btn btn-warning" style="display: inline;"><span class="fa fa-pencil"></span></button>
                    </form>
                </div>
            }
            <br />
            <br />
            
                var myMonth = @item.TimePosted.ToString("MMMM").ToUpper().First() + String.Join("", @item.TimePosted.ToString("MMMM").Skip(1));
                <div id="button-panel" style="color: #999999"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.TimePosted.ToString("HH:mm - dd " + @myMonth + ", yyyy") by @item.PostedBy</div>
            
            <br />
            
            <br />
            <br />
            //Share and like
            <div id="share-panel">
                <div style="color: #999999">Share this post</div>
                @*Facebook like and share (data-layout="standard")*@
                <div class="fb-like" data-href="http://keepongeekin.azurewebsites.net/Home/BlogPost?myTitle=@item.Title" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                @*Twitter*@
                <a class="twitter-share-button socialButton" href="https://twitter.com/intent/tweet?text=KeepOnGeekin.azurewebsites.net" data-size="default">Tweet</a>
                @*Goolge+*@
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                <div class="g-plusone"></div>
            </div>
            //Fb comments
            <div class="fb-comments" data-href="http://keepongeekin.azurewebsites.net/Home/BlogPost?myTitle=@item.Title" data-width="100%" data-numposts="5"></div>

            <hr class="style-six">
            <br />
            <br />
        }
    </div>
</div>

