@using Geekin.ViewModels
@model MasterOneVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = @Model.BlogPosts[0].Title;
}

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.url.js"></script>

<script>
    //check url with a alert
    //$(document).ready(function () {
    //    var myTitle = location.search.split('myTitle=')[1];
    //    alert(myTitle);
    //    return myTitle;
    //});
    $('.shareDiv a').on('click', function () {
        var type = $(this).prop('type');
        sharePage(type);
    });

    function sharePage(type) {
        var pageUrl = encodeURIComponent("https://jsfiddle.net/anthonyo/b5Ljko3v/");
        var shareUrl;
        switch (type) {
            case 'fb':
                shareUrl = 'https://www.facebook.com/sharer/sharer.php?u=' + pageUrl;
                break;
            case 'tweet':
                shareUrl = 'https://twitter.com/intent/tweet?text=CheckOutMyPage&url=' + pageUrl;
                break;
            case 'gplus':
                shareUrl = 'https://plus.google.com/share?url=' + pageUrl;
                break;
            default:
                return false;
        }
        window.open(shareUrl, ' ', ' width=600, height=500');
    }
</script>

@* Facebook *@
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
@* Twitter *@
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
@* Google+ *@
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div id="container">
    <div class="myContent">        
        @*<center><h2 style="font-weight: 700; color: #555555; text-decoration: underline">Admin posts</h2></center>*@
        @* Skriver ut alla posts *@
        @foreach (var item in Model.BlogPosts)
        {
            @* Breadcrumb *@
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/Category?myCategory=@item.Category">@item.Category</a></li>
                <li class="active">@item.Title</li>
            </ol>

            <h3><b>@item.Title</b></h3>
            @Html.Raw(item.Text)
            @if (@item.Link != null)
                { <br />
                <br />
                <div class="videoWrapper">
                    <iframe width="560" height="314" src="@item.Link" target="_top" allowfullscreen="allowfullscreen"></iframe>
                </div>
            }

            //Get URL path
            //string url = Request.Url.GetLeftPart(UriPartial.Authority);
            //string strPathAndQuery = HttpContext.Current.Request.Url.PathAndQuery;
            //string strPathAndQuery = Request.RawUrl;
            //string url = window.location.href;
            <br />
            <br />
            <div id="button-panel">
                <div id="button-panel" style="color: #999999"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.TimePosted.ToString("HH:mm dd-MM-yyyy")</div>
            </div>
            <br />
            <br />
            <div id="share-panel">
                <div style="color: #999999">Share this post</div>
                @*Facebook like and share (data-layout="standard")*@
                <div class="fb-like" data-href="http://keepongeekin.azurewebsites.net/Home/BlogPost?myTitle=@item.Title" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                @*Twitter*@
                <a class="twitter-share-button socialButton" href="https://twitter.com/intent/tweet?text=KeepOnGeekin.azurewebsites.net" data-size="default">Tweet</a>
                @*Goolge+*@
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                <div class="g-plusone"></div>
            </div>

            @*<div class="heartLike">
                    <i class="fa fa-heart" aria-hidden="true" onclick="heartLike(@item.LikeCounter)"></i>
                    <p><a id="likes">@item.LikeCounter</a></p>
                </div>*@
            @*<div>Share this page</div>
                    <div class="shareDiv">
                        <a href="#" type="fb">
                            <div class="fa fa-facebook"></div>
                        </a>
                        <a href="#" type="tweet">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" type="gplus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                </div>*@
            <hr class="style-six">
        }
    </div>
</div>

