@using System.Linq
@using Geekin.ViewModels
@model PostListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


@{
    @if (Model.Any())
    {
        // Category will return error if empty
        ViewBag.Title = @Model[0].Category;
    }
}


<div id="container">
    <div class="myContent">
        @*<center><h2 style="font-weight: 700; color: #555555; text-decoration: none">@(ViewContext.RouteData.Values["myCategory"])</h2></center>*@
        @if (Model.Any())
        {
            <center><h2 style="font-weight: 700; color: #555555; text-decoration: none">@Model[0].Category</h2></center>
        }
        @* Breadcrumb *@
        <ol class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            @if (Model.Any())
            {
                <li class="active">@Model[0].Category</li>
            }
        </ol>


        @if (!Model.Any())
        {
            <div>
                <img src="~/pictures/comingsoon lunapic.png" />
            </div>

            <br />
            <br />
            <hr class="style-six">
        }
        else
        {
            @* Skriver ut alla posts *@
            @foreach (var item in Model)
            {
                <div class="myLink"><h3><b>@Html.ActionLink(@item.Title, "BlogPost", "Home", new { myTitle = @item.Id }, null)</b></h3></div>
                @if (item.Text.Length > 300)
                {
                    @Html.Raw(item.Text.Substring(0, 300));
                    <div class="myLink"><b>@Html.ActionLink(" ... See More", "BlogPost", "Home", new { myTitle = @item.Id }, null)</b></div>
                }
                else
                {
                    @Html.Raw(item.Text);
                }
                @if (@item.Link != null)
                { <br />
                <br />
                <div class="videoWrapper">
                    <iframe width="560" height="314" src="@item.Link" target="_top" allowfullscreen="allowfullscreen" frameBorder="0"></iframe>
                </div>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="button-panel">
                        <form asp-controller="Home" asp-action="DeleteBlogPost">
                            <input type="hidden" name="postId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger" style="display: inline;"><span class="fa fa-trash"></span></button>
                        </form>
                    </div>
                    <div id="button-panel">
                        <form asp-controller="Home" asp-action="EditBlogPost">
                            <input type="hidden" name="postId" value="@item.Id" />
                            <button type="submit" class="btn btn-warning" style="display: inline;"><span class="fa fa-pencil"></span></button>
                        </form>
                    </div>
                }
                <br />
                <br />
                <div id="button-panel" style="color: #999999"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.TimePosted.ToString("HH:mm dd-MM-yyyy") by @item.PostedBy</div>
                <br />
                <hr class="style-six">
                <br />
            }
        }
    </div>
</div>