@using Geekin.ViewModels
@model MasterOneVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Keep On Geekin'";
}

<script>
    //Heart Like
    var likes = 0;
    function heartLike(likes) {
        likes += 1;
        document.getElementById("likes").innerHTML = likes;
    };
    //Timer Slider
    //$(document).ready(function () {
    //    //Events that reset and restart the timer animation when the slides change
    //    $("#transition-timer-carousel").on("slide.bs.carousel", function (event) {
    //        //The animate class gets removed so that it jumps straight back to 0%
    //        $(".transition-timer-carousel-progress-bar", this)
    //            .removeClass("animate").css("width", "0%");
    //    }).on("slid.bs.carousel", function (event) {
    //        //The slide transition finished, so re-add the animate class so that
    //        //the timer bar takes time to fill up
    //        $(".transition-timer-carousel-progress-bar", this)
    //            .addClass("animate").css("width", "100%");
    //    });

    //    //Kick off the initial slide animation when the document is ready
    //    $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
    //        .css("width", "100%");
    //});
    //Bootstrap carousel timer
    $(document).ready(function () {
        $("#transition-timer-carousel").carousel({
            interval: 8000,
            pause: false
        });
    });
</script>

@* Karousel W3C *@
<div class="carousel">
    <br>
    <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#transition-timer-carousel" data-slide-to="1"></li>
            <li data-target="#transition-timer-carousel" data-slide-to="2"></li>
            <li data-target="#transition-timer-carousel" data-slide-to="3"></li>
        </ol>

        @{
            var countToFour = 0;

        <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @foreach (var item in Model.BlogPosts)
                {
                    if (@item.Link != null)
                    {
                        @if (countToFour == 0)
                        {
                            <div class="item active embed-responsive embed-responsive-16by9">
                                <iframe id="youtube" src="@item.Link"></iframe>
                                <div class="carousel-caption">
                                    <h3>@item.Title</h3>
                                </div>
                            </div>
                        }
                        @if (countToFour != 0)
                        {
                            <div class="item embed-responsive embed-responsive-16by9">
                                <iframe src="@item.Link"></iframe>
                                <div class="carousel-caption">
                                    <h3>@item.Title</h3>
                                </div>
                            </div>
                        }
                        countToFour++;
                    }
                    if (countToFour == 4)
                    {
                        break;
                    }
                }
            </div>
        }

        @*<div class="item active">
            <img src="img_chania.jpg" alt="Chania" width="460" height="345">
            <div class="carousel-caption">
            <h3>Chania</h3>
            <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
            </div>*@


        @* </div> *@

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#transition-timer-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#transition-timer-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- Timer "progress bar" -->
        @*<hr class="transition-timer-carousel-progress-bar animate" />*@
    </div>
</div>

<div id="containerIndex">
    <div class="myContentLeft">
        @*Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.*@

        @* Skriver ut alla posts *@
        @foreach (var item in Model.BlogPosts)
        {
            @*<h3><b>@item.Title</b></h3>*@
            //<h3><b><a href="/home/blogpost/?myParam=@item.Title">@item.Title</a></b></h3>
            <div class="myLink" title="Title"><h3><b>@Html.ActionLink(@item.Title, "BlogPost", "Home", new { myTitle = @item.Id }, null)</b></h3></div>
            @if (@item.Category != null)
            {
                <div class="categoryLink" title="Category"><h5><b>@Html.ActionLink(@item.Category, "Category", "Home", new { myCategory = @item.Category }, null)</b></h5></div>
            }

            @*<div style="color: #999999"><p>@item.PostedBy</p></div>*@
            <hr />

            @if (item.Text.Length > 300)
            {
                <div class="myLink">
                    @Html.Raw(item.Text.Substring(0, 300));
                </div>
                <div class="myLink" title="See more"><b>@Html.ActionLink("... See More", "BlogPost", "Home", new { myTitle = @item.Id }, null)</b></div>
            }
            else
            {
                @Html.Raw(item.Text);
            }
            //Video
            @if (@item.Link != null)
            {
                <br />
                <br />
                <div class="videoWrapper">
                    <iframe width="560" height="314" src="@item.Link" target="_top" allowfullscreen="allowfullscreen" frameBorder="0"></iframe>
                </div>
            }
            //Image
            @if (@item.Image != null)
            {
                <br />
                <br />
                <div class="imageWrapper">
                    <img src="@item.Image" alt="Image" style="width:560px; height:314px;">
                </div>
            }
            <br />
            <br />
            //Tags
            @if (item.Tags != null)
            {
                string[] splitTags = item.Tags.Split(null);

                for (int i = 0; i < splitTags.Length; i++)
                {
                    <div class="tag myLink" title="Tag">
                        @Html.ActionLink(splitTags[i], "Tags", "Home", new { myTag = splitTags[i] }, null)
                    </div>
                }
            }
            <!--Edit/Delete for ADMIN-->
            <br />
            <br />
            @if (Model.IsUserAdmin)
            {
                <div>---------------------------!!!!!!!!!!!!!</div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div id="button-panel">
                    <form asp-controller="Home" asp-action="DeleteBlogPost">
                        <input type="hidden" name="postId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger" style="display: inline;"><span class="fa fa-trash"></span></button>
                    </form>
                </div>
                <div id="button-panel">
                    <form asp-controller="Home" asp-action="EditBlogPost">
                        <input type="hidden" name="postId" value="@item.Id" />
                        <button type="submit" class="btn btn-warning" style="display: inline;"><span class="fa fa-pencil"></span></button>
                    </form>
                </div>
            }
            <br />
            <br />
            var myMonth = @item.TimePosted.ToString("MMMM").ToUpper().First() + String.Join("", @item.TimePosted.ToString("MMMM").Skip(1));
            <div id="button-panel" style="color: #999999"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.TimePosted.ToString("HH:mm - dd " + @myMonth + ", yyyy") by @item.PostedBy</div>
            <br />
            <hr class="style-six">
            <br />
        }
    </div>
    <div class="myContentRight">
        <center><div><i class="fa fa-tags" aria-hidden="true" style="color:cornflowerblue"></i><h4>Featured tags</h4></div></center>
        @{
            List<string[]> splitTags3 = new List<string[]>();

            string[] splitTags2 = { };

            foreach (var item in Model.BlogPosts)
            {
                @if (item.Tags != null)
                {
                    splitTags2 = item.Tags.Split(null);
                    splitTags3.Add(splitTags2);
                }
            }


            string[][] result = new string[200][];

            result[0] = new string[20];
            int k = 0;
            for (int i = 0; i < splitTags3.Count; i++)
            {
                for (int j = 0; j < splitTags3[i].Length; j++)
                {
                    result[0][k] = result[0][k] + string.Join(" ", splitTags3[i][j]);
                    //result[0][0] = result[0][0] + " ";
                    k++;
                }
            }

            List<String> duplicates = new List<string>();
            List<String> singles = new List<string>();
            List<String> all = new List<string>();


            duplicates = result[0].GroupBy(x => x)
                             .Where(g => g.Count() > 1)
                             .Select(g => g.Key)
                             .ToList();


            singles = result[0].GroupBy(n => n)
                             .Where(g => g.Count() == 1)
                             .Select(g => g.Key)
                             .ToList();

            duplicates.RemoveAll(item => item == null);
            singles.RemoveAll(item => item == null);


            //sortera duplicates & singles
            //k = 0;
            //for (int i = 0; i < singles.Count; i++)
            //{
            //    all[k] = singles[k];
            //    k++;
            //}
            //for (int i = 0; i < duplicates.Count; i++)
            //{
            //    all[k] = duplicates[i];
            //    k++;
            //}
            //all.Sort();



            <br />

            @*for (int i = 0; i < all.Count; i++)
                {
                    <div class="myLink" title="Tag">
                        <center>@Html.ActionLink(all[i], "Tags", "Home", new { myTag = all[i] }, null)</center>
                    </div>
                }*@
        for (int i = 0; i < duplicates.Count; i++)
        {
            <div class="myLink" title="Tag">
                <center>@Html.ActionLink(duplicates[i], "Tags", "Home", new { myTag = duplicates[i] }, null)</center>
            </div>
        }
        for (int i = 0; i < singles.Count; i++)
        {
            <div class="myLink" title="Tag">
                <center>@Html.ActionLink(singles[i], "Tags", "Home", new { myTag = singles[i] }, null)</center>
            </div>
            }
        }
    </div>
    @{
        string[] monthNames = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthGenitiveNames;
    }


    <div class="myContentRight">
        <center><div><i class="fa fa-search" aria-hidden="true" style="color:cornflowerblue"></i><h4>Search by month</h4></div></center>

        @*@Html.DropDownListFor(model => Model.BlogPosts[0].TimePosted, new SelectList(
                    Enumerable.Range(1, 12)
                            .Select(r => new
                            {
                                Text = new DateTime(2000, r, 1).ToString("MMM"),
                                Value = r.ToString()
                            }),
            "Value", "Text", Model.BlogPosts[0].TimePosted))*@

        @{
//string[] monthNames = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthGenitiveNames;
        }



        <div class="myDropdown" style="position:absolute">
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle btn-blog " data-toggle="dropdown" href="#" id="dropdownMenu1" style="width:110%;">
                    <span class="selection pull-left">Select </span>
                    <span class="pull-right caret" style="float:right;margin-top:10px;"></span>
                </a>

                <ul class="dropdown-menu myDropdown2" role="menu" aria-labelledby="dropdownMenu1">
                    @foreach (var item in monthNames)
                    {

                        <li>
                            @*<a href="/home/search?myMonth=@item" data-value=@item>
                                    <h4>@item</h4>
                                </a>*@
                            @Html.ActionLink(@item, "Month", "Home", new { myMonth = @item }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>


        <br />
        <br />

    </div>

</div>


<script>
    $(".dropdown-menu").on('click', 'li a', function () {
        var selText = $(this).children("h4").html();
        $(this).parent('li').siblings().removeClass('active');
        $('#vl').val($(this).attr('data-value'));
        $(this).parents('.btn-group').find('.selection').html(selText);
        $(this).parents('li').addClass("active");


        var dropDownTop = button.offset().top + button.outerHeight();
        dropdown.css('top', dropDownTop + "px");
        dropdown.css('left', button.offset().left + "px");
    });


    @* Dropdown list *@
    //Dropdown list
    //https://css-tricks.com/long-dropdowns-solution/
    var maxHeight = 400;

    $(function () {
        $(".dropdown > li").hover(function () {
            var $container = $(this),
            $list = $container.find("ul"),
            $anchor = $container.find("a"),
            height = $list.height() * 1.1,       // make sure there is enough room at the bottom
            multiplier = height / maxHeight;     // needs to move faster if list is taller

            // need to save height here so it can revert on mouseout
            $container.data("origHeight", $container.height());

            // so it can retain it's rollover color all the while the dropdown is open
            $anchor.addClass("hover");

            // make sure dropdown appears directly below parent list item
            $list
            .show()
            .css({
                paddingTop: $container.data("origHeight")
            });

            // don't do any animation if list shorter than max
            if (multiplier > 1) {
                $container
                .css({
                    height: maxHeight,
                    overflow: "hidden"
                })
                .mousemove(function (e) {
                    var offset = $container.offset();
                    var relativeY = ((e.pageY - offset.top) * multiplier) - ($container.data("origHeight") * multiplier);
                    if (relativeY > $container.data("origHeight")) {
                        $list.css("top", -relativeY + $container.data("origHeight"));
                    };
                });
            }

        }, function () {

            var $el = $(this);

            // put things back to normal
            $el
            .height($(this).data("origHeight"))
            .find("ul")
            .css({ top: 0 })
            .hide()
            .end()
            .find("a")
            .removeClass("hover");

        });

        // Add down arrow only to menu items with submenus
        $(".dropdown > li:has('ul')").each(function () {
            $(this).find("a:first").append("<img src='images/down-arrow.png' />");
        });

    });
</script>